
@media (max-width: 768px) {
    .acceuil > .Logo {
        width: 80%;
    }

    .acceuil > .text  {
        height: 75px;
    }
    .corp {
        flex-direction: column;
        width: 90%;
        height: 860px;
        justify-content: flex-start;
    }

    .gauche, .droite {
        width: 100%;
        align-items: center;
        margin-bottom: 20px;
        justify-content: space-between;
        height: 460px;
    }
    .droite {
        height: 360px;
    }
    .img {
        width: 100%;
        justify-content: center;
    }

    .img > img {
        width: 80%;
        height: auto;
    }

    .btn > .Retour {
        width: 60%;
        font-size: 20px;
        padding: 10px;
    }
    .btn > .Retour img
    {
        width: 20px;
        height: 20px;
    }
    .gauche > .PlusPopulaire img
    {
        width: 45%;
    }
    .PlusPopulaire > h1 {
        font-size: 40px;
    }

    .PlusPopulaire > p {
        font-size: 20px;
        line-height: 1.5;
    }

    .barreHaut, .barreBas {
        height: 80px;
    }
}

/* Style pour mobiles (largeur maximale de 480px) */
@media (max-width: 480px) {
    .corp {
        width: 80%;
    }
    .acceuil > .Logo {
        width: 100%;
    }
    .btn > .Retour {
        width: 80%;
        font-size: 16px;
        padding: 8px;
    }
    .PlusPopulaire > h1 {
        font-size: 30px;
    }

    .PlusPopulaire > p {
        font-size: 16px;
        line-height: 1.4;
    }

    .gauche, .droite {
        width: 100%;
        justify-content: space-between;
        align-items: center;
    }

    .img {
        width: 100%;
    }

    .img > img {
        width: 90%;
        height: auto;
    }

    .barreHaut, .barreBas {
        height: 60px;
    }
}
