/* Styles pour les écrans mobiles (par défaut jusqu'à 600px) */
@media (max-width: 599px) {
    /* Mobile - Petits écrans */
    .DataWood {
        width: 80%;
        max-width: 300px;
        height: auto;
        margin: 5% auto; /* Centre le logo */
    }

    .gauche > h1 {
        font-size: 30px;
        font-weight: bolder;
        color: #FFE661;
        margin-bottom: 20px;
    }

    .gauche > h2 {
        font-size: 20px;
        color: white;
        font-weight: bold;
        margin-bottom: 10px;
    }

    .gauche > p,
    .gauche > ul,
    .gauche > ol {
        font-size: 14px;
        color: white;
        font-weight: 200;
        line-height: 1.6;
    }

    /* Grille d'images pour mobile (1 image par ligne) */
    .gauche > .equipe {
        display: grid;
        grid-template-columns: repeat(2, 1fr); /* 1 image par ligne */
        gap: 20px;
        text-align: center;
        margin: 20px 0;
    }

    .gauche > .equipe img {
        width: 120px;
        height: 140px;
        margin: auto;
    }
    .gauche > .equipe h2
    {
        font-size: 1em;
    }
}

/* Styles pour les écrans tablettes (de 600px à 1024px) */
@media (min-width: 600px) and (max-width: 1024px) {
    /* Tablette - Moyens écrans */
    .gauche > h1 {
        font-size: 45px;
    }

    .gauche > h2 {
        font-size: 24px;
    }

    .gauche > p,
    .gauche > ul,
    .gauche > ol {
        font-size: 16px;
    }

    /* Grille d'images pour tablette (2 images par ligne) */
    .gauche > .equipe {
        grid-template-columns: repeat(2, 1fr); /* 2 images par ligne */
        gap: 20px;
        text-align: center;
        min-height: 255px;
    }

    .gauche > .equipe img {
        width: 150px;
        height: 170px;
    }
    .gauche > .equipe h2
    {
        font-size: 1em;
    }
}
