@media (max-width: 599px) {
    .DataWood {
        width: 80%;
        max-width: 300px;
        height: auto;
        margin: 5% auto; 
    }

    .gauche > h1 {
        font-size: 30px;
        font-weight: bolder;
        color: #FFE661;
        margin-bottom: 20px;
    }

    .gauche > h2 {
        font-size: 20px;
        color: white;
        font-weight: bold;
        margin-bottom: 10px;
    }

    .gauche > p,
    .gauche > ul,
    .gauche > ol {
        font-size: 14px;
        color: white;
        font-weight: 200;
        line-height: 1.6;
    }

    .gauche > .equipe {
        display: grid;
        grid-template-columns: repeat(2, 1fr); 
        gap: 20px;
        text-align: center;
        margin: 20px 0;
    }

    .gauche > .equipe img {
        width: 120px;
        height: 140px;
        margin: auto;
    }
    .gauche > .equipe h2
    {
        font-size: 1em;
    }
}

@media (min-width: 600px) and (max-width: 1024px) {
    .gauche > h1 {
        font-size: 45px;
    }

    .gauche > h2 {
        font-size: 24px;
    }

    .gauche > p,
    .gauche > ul,
    .gauche > ol {
        font-size: 16px;
    }

    .gauche > .equipe {
        grid-template-columns: repeat(2, 1fr); 
        gap: 20px;
        text-align: center;
        min-height: 255px;
    }

    .gauche > .equipe img {
        width: 150px;
        height: 170px;
    }
    .gauche > .equipe h2
    {
        font-size: 1em;
    }
}
